<div id="divChart">
  <canvas id="myChart"></canvas>
</div>

<div class="d-flex flex-wrap">
  <div class="flex-fill" *ngFor="let l of states; let indexOfState = index;">
    <app-display-card *ngIf="indexOfState>0 && indexOfState!=states.length-2"
                      (click)="gotToCities(states[indexOfState].state,
                                states[indexOfState].active,
                                states[indexOfState].confirmed,
                                states[indexOfState].deaths,
                                states[indexOfState].recovered)"
                      [state-name]="states[indexOfState].state"
                      [active-cases]="states[indexOfState].active"
                      [confirmed-cases]="states[indexOfState].confirmed"
                      [deaths]="states[indexOfState].deaths"
                      [recovered-cases]="states[indexOfState].recovered"
    ></app-display-card>
  </div>
</div>
