#cityCharts {
  position: relative;
  height:40vh;
  width:90vw;
  padding: 1em;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1em;
  box-shadow: 1px 1px 5px grey;
}


.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.add-scrolling {
  margin: 1em;
  border-radius: 0.3em;
  overflow-y: auto;
  overflow-x: hidden;
  height: 50vh;
  padding-bottom: 10vh;
}
